@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,900,900i&display=swap');

body{
    position: relative;
    width: 1000px;
    margin: auto;
    background-color: black;
    font-family: 'Nunito Sans';
    color: white;
    padding-bottom: 4rem;
}

/* SEARCH */

.search{
    padding-bottom: 1rem
}

/* MOVIE */

.movie{
    display: flex; 
    padding: 1rem;
    background-color: white;
    color: black;
}

.movie img{
    flex: 0 0 50%;
    padding: 1rem;
}

.movie .infos{
    flex-direction: row;
    padding: 1rem;
    padding-top: 0;
}

/*ANIMATIONS*/

.menu a::before, .menu a::after {
    content:attr(data-content); 
    position: absolute;
    top: 0px;
    left: 0px;
}
    
.menu a::before {
    color: #00ffff;
    z-index: -1;
}

.menu a::after {
    color: tomato;
    z-index: -2;
}
    
.menu a:hover::before {
    animation: glitch 0.3s ease-in infinite;

}

.menu a:hover::after {
    animation: glitch 0.3s ease-in infinite reverse;
}

.menu ul > li > ul{
    
}

@keyframes glitch {
    0%   {transform: translate(-2px, 2px);}
    25%  {transform: translate(-2px, -2px);}
    50%  {transform: translate(2px, 2px);}
    75%  {transform: translate(2px, -2px);}
    100%  {transform: translate(-2px, 2px);}
}
