@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,900,900i&display=swap');

body{
    position: relative;
    width: 1000px;
    margin: auto;
    background-color: black;
    font-family: 'Nunito Sans';
    color: white;
    padding-bottom: 4rem;
}

/* SEARCH */

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50%;
    width: 1000px;
    text-align: center;
}

.search h1{
    margin-right: 0;
    text-align: center;
    font-size: 4rem;
}

.search input[type='text']{
    width: 50%;
    height: 2rem;
}

.search button{
    height: 2rem;
    padding: 0 1rem;
    background-color: tomato;
    border: 0;
    color: white;
    font-size: 1rem;
    font-weight: 900;
    font-family: 'Nunito Sans';
}

@media screen and (min-width: 768px) and (max-width: 1388px){
  .search h1{
    display:block;
    clear:both;
    font-size: 2rem;
  }
  .search{
      height: 30%;
      width: 800px;
  }
  .movie{
    margin: 1rem;
  }
}

/* MOVIE */

.movie{
    display: flex;
    flex-flow: row wrap;
    margin: 2rem;
    background-color: white;
    color: black;
}

.movie > *{
    flex: 1 1 450px;
}

.movie .img{
    height: 550px;
}


.movie .img img{
    width: 100%;
    height: 100%;
}

.movie .infos{
    padding: 1rem;
    padding-top: 0;
}

/*ANIMATIONS*/

.menu a::before, .menu a::after {
    content:attr(data-content);
    position: absolute;
    top: 0px;
    left: 0px;
}

.menu a::before {
    color: #00ffff;
    z-index: -1;
}

.menu a::after {
    color: tomato;
    z-index: -2;
}

.menu a:hover::before {
    animation: glitch 0.3s ease-in infinite;

}

.menu a:hover::after {
    animation: glitch 0.3s ease-in infinite reverse;
}


@keyframes glitch {
    0%   {transform: translate(-2px, 2px);}
    25%  {transform: translate(-2px, -2px);}
    50%  {transform: translate(2px, 2px);}
    75%  {transform: translate(2px, -2px);}
    100%  {transform: translate(-2px, 2px);}
}
