@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');

body{
    display: flex;
    background-image: url('img/mars.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Archivo Black';
    color: white;
}

h1{
    font-size: 3rem;
}

.title{
    flex: 100% 0 0;
    height: 100%;
    margin-left: 2rem;
}
